@import '../../base/typography';

@mixin text {
  @include base;
  margin: 0;
}

@mixin text-small {
  @include base-sm;
  margin: 0;
}

@mixin text-xsmall {
  @include base-xs;
  margin: 0;
}

.text {
  @include text;
}

.text-small {
  @include text-small;
}

.text-xsmall {
  @include text-xsmall;
}
