@use '../base/borders';
@use '../base/gradients';

$border-radius: 4px;

.panel {
  @include borders.base();

  border-radius: $border-radius;
  overflow: hidden;
  position: relative;
}

.row {
  border-top: 1px solid var(--borders-color-base-default);
  overflow: hidden;

  &.padding {
    padding: var(--padding-base);
  }

  &.first-true {
    border-top-color: transparent;
    border-top-width: 0;
  }
}
