@use '../base/gradients';

.panel {
  overflow: hidden;
  position: relative;

  .row:first-child {
    border-top-left-radius: var(--borders-radius-sm);
    border-top-right-radius: var(--borders-radius-sm);
  }

  .row:last-child {
    border-bottom-left-radius: var(--borders-radius-sm);
    border-bottom-right-radius: var(--borders-radius-sm);
    border-bottom-width: var(--borders-width);
  }
}

.row {
  border-color: var(--borders-color-base-default);
  border-left-width: var(--borders-width);
  border-right-width: var(--borders-width);
  border-style: var(--borders-style);
  border-top-width: var(--borders-width);
  overflow: hidden;

  &.padding-true {
    padding: var(--padding-base);
  }
}
