@import "../abstracts/variables";
@import "../abstracts/mixins";
@import "../base/_typography";

.custom-text {
  margin: 0;
  font-family: $font-family-base-regular; // Default font family
  color: $font-color-text-base; // Default text color
  font-size: $font-size-base; // Default font size
  line-height: $font-lineHeight-md; // Default line height
  font-style: $font-style-base; // Default font style
  font-weight: $font-weight-regular; // Default font weight

  &.small {
    font-size: $font-size-sm;
    line-height: $font-lineHeight-base;
  }

  &.xsmall {
    font-size: $font-size-xs;
    line-height: $font-lineHeight-xs;
  }

  &.monospace {
    @include monospace-font-family(());
  }

  &.black {
    font-family: $font-family-base-black;
  }

  &.blue {
    color: $font-color-text-blue;
  }

  &.bold {
    font-weight: $font-weight-bold;
  }

  &.inverted {
    color: $font-color-text-inverted;
  }

  &.italic {
    font-style: $font-style-italic;
  }

  &.light {
    font-weight: $font-weight-light;
  }

  &.medium {
    font-weight: $font-weight-medium;
  }

  &.muted {
    color: $font-color-text-muted;
  }

  &.semiBold {
    font-weight: $font-weight-semiBold;
  }
}
