.nav-tag {
  align-items: center;
  background-color: var(--colors-purple);
  border-radius: 6px;
  color: var(--fonts-color-text-inverted);
  display: inline-flex;
  font-family: var(--fonts-family-base-regular);
  font-size: 11px;
  justify-content: center;
  line-height: 15px;
  padding: 4px 8px;
}
