# for when we add pre-push hooks, so users only need to run pre-commit install
default_install_hook_types: [pre-commit, pre-push]
exclude: "^mage_ai/data_preparation/templates|^mage_ai/orchestration/db/migrations/versions"

# Force all unspecified python hooks to run python 3.8
default_language_version:
  python: python3

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: trailing-whitespace
        types: [python]
    -   id: end-of-file-fixer
        types: [python]
    -   id: check-yaml
        args: [--unsafe]
    -   id: check-json
    -   id: debug-statements
        types: [python]
    -   id: name-tests-test
        types: [python]
        exclude: "base_test"
        args:
          - "--pytest-test-first"
    -   id: requirements-txt-fixer
        exclude: '^requirements.txt'


# Run the Ruff linter.
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.1.2
  hooks:
    # Run the Ruff linter.
    - id: ruff
    # Run the Ruff formatter.
    - id: ruff-format

- repo: https://github.com/PyCQA/docformatter
  rev: v1.7.5
  hooks:
  - id: docformatter
    stages: [manual]

- repo: https://github.com/pycqa/flake8
  rev: 6.1.0
  hooks:
  - id: flake8
    additional_dependencies:
    - flake8-bugbear==23.9.16
  - id: flake8
    alias: flake8-extra
    stages: [manual]
    additional_dependencies:
    - flake8-comprehensions
    - flake8-simplify
# Theres a lot to do in order to make mage mypy compliant
# e.g. we would have to load all stubs in the dev environment
# this makes sense only after we have merged tool.poetry.group.dev.dependencies
# with the remaining dependencies. Otherwise a wrong version of the stub might be installed
# - repo: https://github.com/pre-commit/mirrors-mypy
#   rev: v1.5.1
#   hooks:
#   - id: mypy
#     args: [--show-error-codes]
#     language: system

- repo: https://github.com/sourcery-ai/sourcery
  rev: v1.9.0
  hooks:
    - id: sourcery
      # The best way to use Sourcery in a pre-commit hook:
      # * review only changed lines:
      # * omit the summary
      args: [--diff=git diff HEAD,  --fix, --no-summary]
      # to automatically apply the changes
      # args: [--diff=git diff HEAD, --fix, --no-summary]
      stages: [manual]
