# for when we add pre-push hooks, so users only need to run pre-commit install
default_install_hook_types: [pre-commit, pre-push]
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: debug-statements
    -   id: name-tests-test
        args:
          - "--pytest-test-first"
    -   id: requirements-txt-fixer
- repo: local
  hooks:
  - id: isort
    name: isort
    entry: isort
    # assumes isort is installed in local virtual environment as dev dependency
    language: system
    types: [python]
  # - id: black
  #   name: black
  #   entry: black
  #   language: system
  #   types: [python]
# - repo: https://github.com/sourcery-ai/sourcery
#   rev: v1.2.0
#   hooks:
#     - id: sourcery
#       # The best way to use Sourcery in a pre-commit hook:
#       # * review only changed lines:
#       # * omit the summary
#       args: [--diff=git diff HEAD, --no-summary]
#       # to automatically apply the changes
#       # args: [--diff=git diff HEAD, --fix, --no-summary]
#       name: sourcery
#       types: [python]
#       stages: [push]