version: "3"
x-server_settings: &server_settings
  image: mage/data
  build:
    context: .
    dockerfile: ./dev.Dockerfile
  command: "python mage_ai/server/server.py --host ${HOST} --port ${PORT} --project ${PROJECT} --manage-instance ${MANAGE_INSTANCE}"
  environment:
    - AUTHENTICATION_MODE=$AUTHENTICATION_MODE
    - AWS_ACCESS_KEY_ID=$AWS_ACCESS_KEY_ID
    - AWS_SECRET_ACCESS_KEY=$AWS_SECRET_ACCESS_KEY
    - AWS_SESSION_TOKEN=$AWS_SESSION_TOKEN
    - DEBUG=$DEBUG
    - DEUS_EX_MACHINA=$DEUS_EX_MACHINA
    - DISABLE_API_TERMINAL_OUTPUT=$DISABLE_API_TERMINAL_OUTPUT
    - DISABLE_DATABASE_TERMINAL_OUTPUT=$DISABLE_DATABASE_TERMINAL_OUTPUT
    - ECS_CLUSTER_NAME=$ECS_CLUSTER_NAME
    - ECS_CONTAINER_NAME=$ECS_CONTAINER_NAME
    - ECS_TASK_DEFINITION=$ECS_TASK_DEFINITION
    - ENABLE_NEW_RELIC=$ENABLE_NEW_RELIC
    - ENABLE_PROMETHEUS=$ENABLE_PROMETHEUS
    - OTEL_EXPORTER_OTLP_ENDPOINT=${OTEL_EXPORTER_OTLP_ENDPOINT}
    - OTEL_EXPORTER_OTLP_HTTP_ENDPOINT=${OTEL_EXPORTER_OTLP_HTTP_ENDPOINT}
    - OTEL_PYTHON_TORNADO_EXCLUDED_URLS=$OTEL_PYTHON_TORNADO_EXCLUDED_URLS
    - ENV=dev
    - GCP_PROJECT_ID=$GCP_PROJECT_ID
    - GCP_REGION=$GCP_REGION
    - HUGGINGFACE_API=$HUGGINGFACE_API
    - HUGGINGFACE_INFERENCE_API_TOKEN=$HUGGINGFACE_INFERENCE_API_TOKEN
    - LDAP_ADMIN_USERNAME=$LDAP_ADMIN_USERNAME
    - LDAP_AUTHENTICATION_FILTER=$LDAP_AUTHENTICATION_FILTER
    - LDAP_AUTHORIZATION_FILTER=$LDAP_AUTHORIZATION_FILTER
    - LDAP_BASE_DN=$LDAP_BASE_DN
    - LDAP_BIND_DN=$LDAP_BIND_DN
    - LDAP_BIND_PASSWORD=$LDAP_BIND_PASSWORD
    - LDAP_SERVER=$LDAP_SERVER
    - MAGE_BASE_PATH=$MAGE_BASE_PATH
    - MAGE_DATA_DIR=$MAGE_DATA_DIR
    - MAGE_DATABASE_CONNECTION_URL=$DATABASE_CONNECTION_URL
    - MAX_NUMBER_OF_FILE_VERSIONS=$MAX_NUMBER_OF_FILE_VERSIONS
    - NEW_RELIC_CONFIG_PATH=$NEW_RELIC_CONFIG_PATH
    - OPENAI_API_KEY=$OPENAI_API_KEY
    - REQUIRE_USER_AUTHENTICATION=$REQUIRE_USER_AUTHENTICATION
    - REQUIRE_USER_PERMISSIONS=$REQUIRE_USER_PERMISSIONS
    - SERVER_VERBOSITY=$SERVER_VERBOSITY
    - path_to_keyfile=$GCP_PATH_TO_CREDENTIALS
    - SCHEDULER_TRIGGER_INTERVAL=$SCHEDULER_TRIGGER_INTERVAL
  ports:
    - 6789:6789
  volumes:
    - .:/home/src
    - ~/.aws:/root/.aws
    - ~/.mage_data:/root/.mage_data
  restart: on-failure:5
  stdin_open: true # used for interactive debugging
  tty: true # used for interactive debugging
x-app_settings: &app_settings
  image: mage/data
  build:
    context: .
    dockerfile: ./dev.Dockerfile
  depends_on:
    - server
  command: ./scripts/install_and_run.sh
  ports:
    - 3000:3000
  volumes:
    - ./mage_ai/frontend/.env.local:/home/src/mage_ai/frontend/.env.local
    - ./mage_ai/frontend/.babelrc:/home/src/mage_ai/frontend/.babelrc
    - ./mage_ai/frontend/.eslintrc.js:/home/src/mage_ai/frontend/.eslintrc.js
    - ./mage_ai/frontend/api:/home/src/mage_ai/frontend/api
    - ./mage_ai/frontend/components:/home/src/mage_ai/frontend/components
    - ./mage_ai/frontend/context:/home/src/mage_ai/frontend/context
    - ./mage_ai/frontend/hocs:/home/src/mage_ai/frontend/hocs
    - ./mage_ai/frontend/interfaces:/home/src/mage_ai/frontend/interfaces
    - ./mage_ai/frontend/next-env.d.ts:/home/src/mage_ai/frontend/next-env.d.ts
    - ./mage_ai/frontend/next.config.js:/home/src/mage_ai/frontend/next.config.js
    - ./mage_ai/frontend/oracle:/home/src/mage_ai/frontend/oracle
    - ./mage_ai/frontend/package.json:/home/src/mage_ai/frontend/package.json
    - ./mage_ai/frontend/pages:/home/src/mage_ai/frontend/pages
    - ./mage_ai/frontend/public:/home/src/mage_ai/frontend/public
    - ./mage_ai/frontend/scripts:/home/src/mage_ai/frontend/scripts
    - ./mage_ai/frontend/storage:/home/src/mage_ai/frontend/storage
    - ./mage_ai/frontend/stories:/home/src/mage_ai/frontend/stories
    - ./mage_ai/frontend/styles:/home/src/mage_ai/frontend/styles
    - ./mage_ai/frontend/tsconfig.json:/home/src/mage_ai/frontend/tsconfig.json
    - ./mage_ai/frontend/utils:/home/src/mage_ai/frontend/utils
    - ./mage_ai/frontend/yarn.lock:/home/src/mage_ai/frontend/yarn.lock
  working_dir: /home/src/mage_ai/frontend
services:
  server:
    <<: *server_settings
  app:
    <<: *app_settings
  server_spark:
    <<: *server_settings
    image: mage/data_spark
    build:
      context: .
      dockerfile: ./dev.spark.Dockerfile
  app_spark:
    <<: *app_settings
    image: mage/data_spark
    build:
      context: .
      dockerfile: ./dev.spark.Dockerfile
    depends_on:
      - server_spark
