[tool.poetry]
name = "mage-ai"
version = "0.8.75-dev"
description = "DevEx poetry configuration"
authors = ["Mage"]
readme = "README.md"

[tool.poetry.dependencies]
python = ">=3.8,<4.0"

[tool.poetry.group.dev.dependencies]
pre-commit = "*"
pytest = "*"
pytest-cov = "*"
interrogate = "*"
commitizen = "*"
ipykernel = "^6.17.1"
pandas-stubs = "*"
sourcery = "*"

[tool.isort]
profile = "black"


[build-system]
requires = ["setuptools>=42"]
build-backend = "setuptools.build_meta"
