Faker==4.14.0
GitPython==3.1.31
Jinja2==3.1.2
PyJWT==2.6.0
aiofiles==22.1.0
alembic>=1.7.5
bcrypt==4.0.1
croniter==1.3.7
cryptography==36.0.2
dask>=2022.2.0
datadog==0.44.0
freezegun==1.2.2
great_expectations==0.15.50
httpx==0.23.1
inflection==0.5.1
ipykernel==6.15.0
ipython==7.34.0
itsdangerous~=1.1.0
joblib>=1.1.0
jupyter-server-proxy==3.2.1
jupyter-server==1.23.5
jupyter_client==7.3.4
ldap3==2.9.1
numpy>=1.21.0
pandas>=1.3.0
polars
protobuf
pyarrow==10.0.1
python-dateutil==2.8.2
pytz==2022.1
pyyaml~=6.0
requests==2.27.1
ruamel.yaml==0.17.17
scikit-learn>=1.0
sentry-sdk==1.19.1|
simplejson
six>=1.15.0
sqlalchemy>=1.4.20, <2.0.0
terminado==0.17.1
tornado==6.1
typer[all]==0.7.0
typing-extensions==4.5.0

# extras
aws-secretsmanager-caching==1.1.1.5
boto3==1.26.60
botocore==1.29.60
clickhouse-connect==0.5.20
db-dtypes==1.0.5
google-api-core==2.11.0
google-api-python-client==2.70.0
google-cloud-bigquery~=3.0
google-cloud-iam==2.9.0
google-cloud-pubsub==2.16.0
google-cloud-run==0.5.0
google-cloud-storage==2.5.0
kubernetes==25.3.0
mysql-connector-python==8.0.31
psycopg2==2.9.3
psycopg2-binary==2.9.3
pydruid==0.6.5
pyodbc==4.0.35
redshift-connector==2.0.909
snowflake-connector-python==2.7.9
sshtunnel==0.4.0
tables==3.7.0
trino==0.321.0

# Azure
azure-eventhub==5.11.2
azure-identity==1.11.0
azure-keyvault-secrets==4.6.0
azure-keyvault-certificates==4.6.0
azure-mgmt-containerinstance==10.1.0
azure-storage-blob==12.14.1

# Streaming
confluent-avro
kafka-python==2.0.2
opensearch-py==2.0.0
requests_aws4auth==1.1.2
pika==1.3.1
pymongo==4.3.3

# DBT
dbt-bigquery==1.4.0
dbt-core==1.4.0
dbt-postgres==1.4.0
dbt-redshift==1.4.0
dbt-snowflake==1.4.0
dbt-spark==1.4.0
dbt-sqlserver==1.3.1
dbt-trino==1.4.0
