@use '../../abstracts/mixins';
@use '../../base/borders';

.tooltipContent {
  @include borders.base();
  @include mixins.gradient(0deg, var(--colors-blackmd), var(--colors-blackmd));

  backdrop-filter: saturate(100%) blur(20px);
  padding: var(--padding-base);
  position: fixed;
  z-index: 1000;

  &.hide {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
}
