@use '../abstracts/colors/dark' as colors;
@mixin mode() {
  --colors-black: #{colors.$colors-black};
  --colors-blackfixed: #{colors.$colors-blackfixed};
  --colors-blackhi: #{colors.$colors-blackhi};
  --colors-blacklo: #{colors.$colors-blacklo};
  --colors-blackmd: #{colors.$colors-blackmd};
  --colors-blue: #{colors.$colors-blue};
  --colors-bluehi: #{colors.$colors-bluehi};
  --colors-bluelo: #{colors.$colors-bluelo};
  --colors-bluemd: #{colors.$colors-bluemd};
  --colors-bluemuted: #{colors.$colors-bluemuted};
  --colors-bluetext: #{colors.$colors-bluetext};
  --colors-dbt: #{colors.$colors-dbt};
  --colors-dbthi: #{colors.$colors-dbthi};
  --colors-dbtlo: #{colors.$colors-dbtlo};
  --colors-dbtmd: #{colors.$colors-dbtmd};
  --colors-glow2: #{colors.$colors-glow2};
  --colors-glow: #{colors.$colors-glow};
  --colors-gray: #{colors.$colors-gray};
  --colors-grayhi: #{colors.$colors-grayhi};
  --colors-graylo: #{colors.$colors-graylo};
  --colors-graymd: #{colors.$colors-graymd};
  --colors-green: #{colors.$colors-green};
  --colors-greenhi: #{colors.$colors-greenhi};
  --colors-greenlo: #{colors.$colors-greenlo};
  --colors-greenmd: #{colors.$colors-greenmd};
  --colors-pink: #{colors.$colors-pink};
  --colors-pinkhi: #{colors.$colors-pinkhi};
  --colors-pinklo: #{colors.$colors-pinklo};
  --colors-pinkmd: #{colors.$colors-pinkmd};
  --colors-purple: #{colors.$colors-purple};
  --colors-purplehi: #{colors.$colors-purplehi};
  --colors-purplelo: #{colors.$colors-purplelo};
  --colors-purplemd: #{colors.$colors-purplemd};
  --colors-red: #{colors.$colors-red};
  --colors-redhi: #{colors.$colors-redhi};
  --colors-redlo: #{colors.$colors-redlo};
  --colors-redmd: #{colors.$colors-redmd};
  --colors-rose: #{colors.$colors-rose};
  --colors-rosehi: #{colors.$colors-rosehi};
  --colors-roselo: #{colors.$colors-roselo};
  --colors-rosemd: #{colors.$colors-rosemd};
  --colors-sky: #{colors.$colors-sky};
  --colors-skyhi: #{colors.$colors-skyhi};
  --colors-skylo: #{colors.$colors-skylo};
  --colors-skymd: #{colors.$colors-skymd};
  --colors-statuses-success: #{colors.$colors-statuses-success};
  --colors-statuses-successhi: #{colors.$colors-statuses-successhi};
  --colors-teal: #{colors.$colors-teal};
  --colors-tealhi: #{colors.$colors-tealhi};
  --colors-teallo: #{colors.$colors-teallo};
  --colors-tealmd: #{colors.$colors-tealmd};
  --colors-white: #{colors.$colors-white};
  --colors-whitefixed: #{colors.$colors-whitefixed};
  --colors-whitehi: #{colors.$colors-whitehi};
  --colors-whitelo: #{colors.$colors-whitelo};
  --colors-whitemd: #{colors.$colors-whitemd};
  --colors-yellow: #{colors.$colors-yellow};
  --colors-yellowhi: #{colors.$colors-yellowhi};
  --colors-yellowlo: #{colors.$colors-yellowlo};
  --colors-yellowmd: #{colors.$colors-yellowmd};
  --backgrounds-body: #{colors.$backgrounds-body};
  --backgrounds-button-base-default: #{colors.$backgrounds-button-base-default};
  --backgrounds-button-base-hover: #{colors.$backgrounds-button-base-hover};
  --backgrounds-button-basic-default: #{colors.$backgrounds-button-basic-default};
  --backgrounds-button-basic-hover: #{colors.$backgrounds-button-basic-hover};
  --backgrounds-button-primary-default: #{colors.$backgrounds-button-primary-default};
  --backgrounds-button-primary-hover: #{colors.$backgrounds-button-primary-hover};
  --backgrounds-button-secondary-default: #{colors.$backgrounds-button-secondary-default};
  --backgrounds-button-secondary-hover: #{colors.$backgrounds-button-secondary-hover};
  --backgrounds-input-base-active: #{colors.$backgrounds-input-base-active};
  --backgrounds-input-base-default: #{colors.$backgrounds-input-base-default};
  --backgrounds-input-base-focus: #{colors.$backgrounds-input-base-focus};
  --backgrounds-input-base-hover: #{colors.$backgrounds-input-base-hover};
  --backgrounds-menu-base-default: #{colors.$backgrounds-menu-base-default};
  --backgrounds-menu-contained-default: #{colors.$backgrounds-menu-contained-default};
  --backgrounds-scrollbar-thumb-default: #{colors.$backgrounds-scrollbar-thumb-default};
  --backgrounds-scrollbar-thumb-hover: #{colors.$backgrounds-scrollbar-thumb-hover};
  --backgrounds-scrollbar-track-default: #{colors.$backgrounds-scrollbar-track-default};
  --backgrounds-scrollbar-track-hover: #{colors.$backgrounds-scrollbar-track-hover};
  --blue: #{colors.$blue};
  --borders-color-base-default: #{colors.$borders-color-base-default};
  --borders-color-base-hover: #{colors.$borders-color-base-hover};
  --borders-color-button-base-default: #{colors.$borders-color-button-base-default};
  --borders-color-button-base-hover: #{colors.$borders-color-button-base-hover};
  --borders-color-button-basic-default: #{colors.$borders-color-button-basic-default};
  --borders-color-button-basic-hover: #{colors.$borders-color-button-basic-hover};
  --borders-color-button-primary-default: #{colors.$borders-color-button-primary-default};
  --borders-color-button-primary-hover: #{colors.$borders-color-button-primary-hover};
  --borders-color-button-secondary-default: #{colors.$borders-color-button-secondary-default};
  --borders-color-button-secondary-hover: #{colors.$borders-color-button-secondary-hover};
  --borders-color-input-base-active: #{colors.$borders-color-input-base-active};
  --borders-color-input-base-default: #{colors.$borders-color-input-base-default};
  --borders-color-input-base-focus: #{colors.$borders-color-input-base-focus};
  --borders-color-input-base-hover: #{colors.$borders-color-input-base-hover};
  --borders-color-muted-default: #{colors.$borders-color-muted-default};
  --borders-color-muted-hover: #{colors.$borders-color-muted-hover};
  --buttons-border-color-base-default: #{colors.$buttons-border-color-base-default};
  --buttons-border-color-base-hover: #{colors.$buttons-border-color-base-hover};
  --buttons-border-color-basic-default: #{colors.$buttons-border-color-basic-default};
  --buttons-border-color-basic-hover: #{colors.$buttons-border-color-basic-hover};
  --buttons-border-color-primary-default: #{colors.$buttons-border-color-primary-default};
  --buttons-border-color-primary-hover: #{colors.$buttons-border-color-primary-hover};
  --buttons-border-color-secondary-default: #{colors.$buttons-border-color-secondary-default};
  --buttons-border-color-secondary-hover: #{colors.$buttons-border-color-secondary-hover};
  --buttons-outline-color-base-default: #{colors.$buttons-outline-color-base-default};
  --buttons-outline-color-base-hover: #{colors.$buttons-outline-color-base-hover};
  --buttons-outline-color-basic-default: #{colors.$buttons-outline-color-basic-default};
  --buttons-outline-color-basic-hover: #{colors.$buttons-outline-color-basic-hover};
  --buttons-outline-color-primary-default: #{colors.$buttons-outline-color-primary-default};
  --buttons-outline-color-primary-hover: #{colors.$buttons-outline-color-primary-hover};
  --buttons-outline-color-secondary-default: #{colors.$buttons-outline-color-secondary-default};
  --buttons-outline-color-secondary-hover: #{colors.$buttons-outline-color-secondary-hover};
  --fonts-color-button-base: #{colors.$fonts-color-button-base};
  --fonts-color-text-base: #{colors.$fonts-color-text-base};
  --fonts-color-text-blue: #{colors.$fonts-color-text-blue};
  --fonts-color-text-inverted: #{colors.$fonts-color-text-inverted};
  --fonts-color-text-muted: #{colors.$fonts-color-text-muted};
  --fonts-color-text-warning: #{colors.$fonts-color-text-warning};
  --icons-color-base: #{colors.$icons-color-base};
  --icons-color-inverted: #{colors.$icons-color-inverted};
  --inputs-background-base-active: #{colors.$inputs-background-base-active};
  --inputs-background-base-default: #{colors.$inputs-background-base-default};
  --inputs-background-base-focus: #{colors.$inputs-background-base-focus};
  --inputs-background-base-hover: #{colors.$inputs-background-base-hover};
  --inputs-border-color-base-active: #{colors.$inputs-border-color-base-active};
  --inputs-border-color-base-default: #{colors.$inputs-border-color-base-default};
  --inputs-border-color-base-focus: #{colors.$inputs-border-color-base-focus};
  --inputs-border-color-base-hover: #{colors.$inputs-border-color-base-hover};
  --inputs-placeholder-color: #{colors.$inputs-placeholder-color};
  --menus-background-base-default: #{colors.$menus-background-base-default};
  --menus-background-contained-default: #{colors.$menus-background-contained-default};
  --menus-blur-base: #{colors.$menus-blur-base};
  --scrollbars-background-thumb-default: #{colors.$scrollbars-background-thumb-default};
  --scrollbars-background-thumb-hover: #{colors.$scrollbars-background-thumb-hover};
  --scrollbars-background-track-default: #{colors.$scrollbars-background-track-default};
  --scrollbars-background-track-hover: #{colors.$scrollbars-background-track-hover};
}
