$color-black: #000000;
$color-black-fixed: #000000;
$color-black-lo: #00000033;
$color-black-md: #00000099;
$color-black-hi: #000000D9;
$color-blue: #0500FF;
$color-blue-hi: #0500FFD9;
$color-blue-lo: #0500FF33;
$color-blue-md: #0500FFB3;
$color-blue-muted: #5AA6FF;
$color-blue-text: #1F6BFF;
$color-teal: #00B4CC;
$color-teal-hi: rgba(0, 180, 204, 0.5);
$color-teal-lo: #00B4CC33;
$color-teal-md: #00B4CCB3;
$color-dbt: #FC6949;
$color-dbt-hi: #FC6949D9;
$color-dbt-lo: rgba(252, 105, 73, 0.3);
$color-dbt-md: rgba(252, 105, 73, 0.5);
$color-glow: #0500FF66;
$color-glow2: #0500FF;
$color-gray: #34404C;
$color-gray-lo: #34404C33;
$color-gray-md: #34404CB3;
$color-gray-hi: #34404CD9;
$color-green: #00C868;
$color-green-lo: #00C86833;
$color-green-md: #00C868B3;
$color-green-hi: #00C868D9;
$color-pink: #DD55FF;
$color-pink-lo: #DD55FF33;
$color-pink-md: #DD55FFB3;
$color-pink-hi: #DD55FFD9;
$color-purple: #956FFF;
$color-purple-lo: #956FFF33;
$color-purple-md: #956FFFB3;
$color-purple-hi: #956FFFD9;
$color-red: #FF3B3B;
$color-red-hi: #FF3B3BD9;
$color-red-lo: #FF3B3B33;
$color-red-md: #FF3B3BB3;
$color-rose: #D1A2AB;
$color-rose-hi: #D1A2ABD9;
$color-rose-lo: #D1A2AB33;
$color-rose-md: #D1A2ABB3;
$color-sky: #9ECBFF;
$color-sky-hi: rgba(106, 161, 224, 0.5);
$color-sky-lo: #6AA1E0;
$color-sky-md: #9ECBFFB3;
$color-yellow: #FFCC19;
$color-yellow-hi: #FFCC19D9;
$color-yellow-lo: #FFCC1933;
$color-yellow-md: #FFCC19;
$color-white: #FFFFFF;
$color-white-fixed: #FFFFFF;
$color-white-lo: #FFFFFF80;
$color-white-md: #FFFFFF99;
$color-white-hi: #FFFFFF1A;

$success-color: #8ADE00;
$success-hi-color: rgba(138, 222, 0, 0.3);
