.node {
  align-items: center;
  background-color: lightblue;
  border: 1px solid blue;
  cursor: move;
  display: flex;
  height: 50px;
  justify-content: center;
  position: 'absolute';
  width: 100px;
}
