{
  "presets": ["next/babel"],
  "plugins": [
    [
      "styled-components",
      {
        "ssr": true,
        "displayName": true,
        "preprocess": false
      }
    ]
  ],
  "exclude": [
    "node_modules/monaco-editor/**/*",
    "node_modules/react-dom/**/*",
    "node_modules/monaco-editor/esm/vs/language/typescript/ts.worker.js",
    "node_modules/react-dom/cjs/react-dom.development.js",
    "node_modules/elkjs/lib/elk.bundled.js"
  ],
  "compact": true
}
