@use '../../base/borders' as borders;
@use '../../abstracts/mixins' as *;

$button-height: 44px;
$button-width: 64px;
$top: calc(var(--header-height) + var(--padding-container));
$width: 300px;

@mixin shared-position {
  left: var(--padding-container);
  position: fixed;
  z-index: var(--header-z-index);
}

.button {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;

  align-items: center;
  background: none;
  border: none;
  column-gap: 8px;
  cursor: pointer;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr auto;
  outline: none;
  padding: var(--padding-base) !important;
  position: absolute;
}

.buttonNavClosed {
  @include shared-position;
  height: $button-height;
  top: $top;
  width: $button-width;
  z-index: 12;
}

.nav {
  @include shared-position;

  bottom: var(--padding-container);
  pointer-events: none;
  width: $width;
  top: $top;
}

.navOpen {
  pointer-events: all;
}

.svgBorder {
  @include shared-position;

  bottom: var(--padding-container);
  top: calc(var(--header-height) + var(--padding-container));
  width: $width;
  pointer-events: none;
}

.borderInactive {
  display: none;
}

.background {
  @include gradient(0deg, var(--menus-background-gradient-default), var(--menus-background-gradient-default), 0%, 100%);
  /* background: linear-gradient(180deg, #0055ff 0%, rgb(0, 153, 255) 100%); */

  backdrop-filter: saturate(200%) blur(10px);
  border-radius: var(--borders-radius-button) !important;
  left: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  width: inherit;
}

.backgroundInactive {
  clip-path: none !important;
  height: $button-height;
  width: $button-width;
}

.backgroundBorder {
  @include borders.base();
  @include shared-position;

  border-radius: var(--borders-radius-button) !important;
  height: $button-height;
  pointer-events: none;
  top: $top;
  width: $button-width;
  z-index: 11;
}

.ul,
.li {
  margin: 0;
  padding: 0;
}

.ul {
  padding: 25px;
  position: absolute;
  top: 100px;
  width: 230px;
}

.li {
  list-style: none;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.fileBrowser {
  position: absolute;
  top: $button-height;
  width: 100%;
}
