from mage_ai.data_cleaner.transformer_actions.base import BaseAction
from mage_ai.data_cleaner.transformer_actions.constants import ActionType, Axis
from mage_ai.data_cleaner.transformer_actions.utils import build_transformer_action
from pandas import DataFrame


@transformer
def execute_transformer_action(df: DataFrame) -> DataFrame:
    """
    Execute Transformer Action: {{ action_type }}
    """
    action = build_transformer_action(
        action_type=ActionType.{{ action_type.upper() }},
        action_arguments=[],
        axis=Axis.{{ axis.upper() }},{{ kwargs }}
    )

    return BaseAction(action).execute(df)
