{% extends "testable.jinja" %}
{% block imports %}
from mage_ai.orchestration.db.models import BlockRun
from mage_ai.orchestration.run_status_checker import check_status
from pandas import DataFrame

if 'sensor' not in globals():
    from mage_ai.data_preparation.decorators import data_loader
{% endblock %}

{% block content %}
@sensor
def sense_condition(**kwargs) -> None:
    """
    Template code for checking if block output exists or if block/pipeline
    run completed.
    """

    while True:
        # Method to check outputs or status of a pipeline or block run
        # check_status(
        #     <trigger_id>,
        #     <partition>,
        #     block_uuid=<optional_block_uuid>,
        #     status=<optional_status>,
        # )

        # # check previous day's partition
        # partition = kwargs['execution_date'] - timedelta(days=1)
        # check_status(1, partition, block_uuid='my_block', status=BlockRun.BlockRunStatus.COMPLETED)

        time.sleep(1)

    
{% endblock %}
