$spacing: 12px;

.divider {
  background-color: var(--borders-color-base-default);

  &.short {
    width: 80px;
  }

  &.full {
    width: 100%;
  }

  &:not(.vertical) {
    height: 1px;
    margin-bottom: $spacing;
    margin-top: $spacing;

    &.compact {
      margin-bottom: 0;
      margin-top: 0;
    }
  }

  &.vertical {
    height: 100%;
    width: 1px;
  }
}

.dashed-divider {
  border-left: 0.5px dashed var(--colors-graymd);
  border-right: 0.5px dashed var(--colors-graymd);
  height: 40px;
  width: 1px;
}
