$spacing: 12px;

.divider {
  background-color: var(--borders-color-base-default);

  &.short {
    width: 80px;
  }

  &.full {
    width: 100%;
  }

  &:not(.vertical) {
    height: 1px;
    margin-bottom: $spacing;
    margin-top: $spacing;

    &.compact {
      margin-bottom: $spacing;
      margin-top: $spacing;
    }
  }

  &.vertical {
    height: 100%;
    width: 1px;
  }
}
