// styles/borders -> base/borders
@use '../abstracts/colors';
@use '../abstracts/variables';

@mixin shared {
  border-radius: variables.$borders-radius-base;
  border-style: variables.$borders-style;
  border-width: variables.$borders-width;
}

@mixin base($muted: false) {
  @include shared;
  border-color: if($muted, colors.$borders-color-muted-default, colors.$borders-color-base-default);
}

@mixin borders-transparent {
  @include shared;
  border-color: transparent;
}
