@use '../abstracts/variables';

@mixin base-font-family {
  font-family: map-get(variables.$fonts, family, base, regular);

  &.light {
    font-family: map-get(variables.$fonts, family, base, lightfont);
  }
  &.medium {
    font-family: map-get(variables.$fonts, family, base, medium);
  }
  &.semibold {
    font-family: map-get(variables.$fonts, family, base, semibold);
  }
  &.black {
    font-family: map-get(variables.$fonts, family, base, black);
  }
  &.bold {
    font-family: map-get(variables.$fonts, family, base, bold);
  }
}

@mixin monospace-font-family {
  font-family: map-get(variables.$fonts, family, monospace, regular);

  &.monospace.light {
    font-family: map-get(variables.$fonts, family, monospace, lightfont);
  }
  &.monospace.medium {
    font-family: map-get(variables.$fonts, family, monospace, medium);
  }
  &.monospace.semibold {
    font-family: map-get(variables.$fonts, family, monospace, semibold);
  }
  &.monospace.black,
  &.monospace.bold {
    font-family: map-get(variables.$fonts, family, monospace, bold);

    &.italic {
      font-family: map-get(variables.$fonts, family, monospace, bolditalic) !important;
    }
  }

  &.monospace.italic {
    font-family: map-get(variables.$fonts, family, monospace, regularitalic);
  }
}

@mixin base-styles {
  color: var(--fonts-color-text-base);
  margin: 0;

  &.inverted {
    color: var(--fonts-color-text-inverted);
  }
  &.blue {
    color: var(--fonts-color-text-blue);
  }
  &.muted {
    color: var(--fonts-color-text-muted);
  }
  &.warning {
    color: var(--fonts-color-text-warning);
  }

  font-size: map-get(variables.$fonts, size, base);
  font-style: map-get(variables.$fonts, style, base);
  font-weight: map-get(variables.$fonts, weight, regular);

  &.italic {
    font-style: map-get(variables.$fonts, style, italic);
  }
  &.light {
    font-weight: map-get(variables.$fonts, weight, light);
  }
  &.medium {
    font-weight: map-get(variables.$fonts, weight, medium);
  }
  &.semibold {
    font-weight: map-get(variables.$fonts, weight, semibold);
  }
  &.bold {
    font-weight: map-get(variables.$fonts, weight, bold);
  }
}
@mixin base {
  @include base-styles;
  @include base-font-family;
  line-height: map-get(variables.$fonts, lineheight, md);
}

@mixin base-sm {
  @include base;
  font-size: map-get(variables.$fonts, size, sm);
  line-height: map-get(variables.$fonts, lineheight, base);
}

@mixin base-xs {
  @include base;
  font-size: map-get(variables.$fonts, size, xs);
  line-height: map-get(variables.$fonts, lineheight, xs);
}

@mixin monospace {
  @include base-styles;
  @include monospace-font-family;
  line-height: map-get(variables.$fonts, lineheight, monospace);
}

@mixin monospace-sm {
  @include monospace;
  font-size: map-get(variables.$fonts, size, sm);
  line-height: map-get(variables.$fonts, lineheight, base);
}

@mixin monospace-xs {
  @include monospace;
  font-size: map-get(variables.$fonts, size, xs);
  line-height: map-get(variables.$fonts, lineheight, xs);
}
