attrs==17.4.0; python_version < '3.12'
attrs==24.2.0; python_version >= '3.12'
azure-storage-blob==12.14.1
backoff
charset-normalizer
clickhouse_sqlalchemy~=0.2.4
couchbase==4.1.1; python_version < '3.11'
couchbase==4.3.1; python_version >= '3.11'
deltalake==0.20.2
elasticsearch==8.15.1
facebook_business==20.0.2
gnupg==2.3.1
google-ads==25.1.0
google-analytics-data==0.14.2; python_version < '3.11'
google-analytics-data==0.15.0; python_version >= '3.11'
google-api-python-client==2.70.0
google-cloud-bigquery~=3.0
google-cloud-bigquery-storage==2.16.2; python_version < '3.11'
google-cloud-bigquery-storage==2.26.0; python_version >= '3.11'
google-cloud-storage==2.5.0
httpx==0.23.1
httpx[http2]
kafka-python~=2.0.2
mysql-connector-python~=8.4.0; python_version < '3.11'
mysql-connector-python~=9.0.0; python_version >= '3.11'
opensearch-py~=2.0.0
oracledb==1.3.1; python_version < '3.12'
oracledb==2.4.1; python_version >= '3.12'
pendulum==2.1.0; python_version < '3.12'
pendulum==3.0.0; python_version >= '3.12'
protobuf>=4.25.0
psycopg2==2.9.3
psycopg2-binary==2.9.3
pyarrow>=14.0.1
pymongo==4.3.3
pymongo_schema==0.4.1
python-dateutil==2.8.2
python-magic==0.4.27
redshift-connector~=2.0.915
requests~=2.31.0
requests_mock==1.10.0
simple_salesforce~=1.12.5
simplejson
singer_sdk~=0.34.1
snowflake-connector-python==3.7.1
sshtunnel==0.4.0
stripe==5.5.0
terminaltables==3.1.10
trino~=0.326
twitter-ads==11.0.0
tzlocal==4.2
xlsx2csv==0.8.1
xmltodict==0.13.0
zenpy==2.0.25
