@use '../../../base/svg';

$grid-size: 40px;

.canvas {
  background-color: var(--backgrounds-button-base-hover);
  height: 500%; /* Large enough to initially fit all content, will expand as needed */
  width: 500%;  /* Large enough to initially fit all content, will expand as needed */
  position: absolute; /* Ensure it behaves correctly inside the parent container */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the container within its parent */
  overflow: visible; /* Ensure content can overflow without clipping */
  transform-origin: top left;

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  &:before {
    background-image:
      repeating-linear-gradient(
        to right,
        transparent,
        transparent calc(#{$grid-size} - 1px),
        rgba(0, 0, 0, 0.1) calc(#{$grid-size} - 1px),
        rgba(0, 0, 0, 0.1) $grid-size
      );
  }

  &:after {
    background-image:
      repeating-linear-gradient(
        to bottom,
        transparent,
        transparent calc(#{$grid-size} - 1px),
        rgba(0, 0, 0, 0.1) calc(#{$grid-size} - 1px),
        rgba(0, 0, 0, 0.1) $grid-size
      );
  }
}

.path {
  @include svg.fill-stroke-colors();
}
