@use '../../../base/borders';
@use '../../../base/grid';

.blockNode {
  @include borders.border-colors();

  height: inherit;
  min-width: 312px;
  padding: var(--padding-base);
}

.showOnHoverContainer {
  &:hover {
    .showOnHover {
      visibility: visible;
    }
  }

  .showOnHover {
    visibility: hidden;
  }
}

.nodeWrapper {
  @include grid.base();
}

.requiredGroup {
}

.emptyGroup {

}
