@use '../../../base/borders';

.blockNode {
  @include borders.border-colors();

  height: inherit;
  min-width: 312px;
  padding: var(--padding-base);
}

@mixin hidden {
  height: 0;
  opacity: 0;
  pointer-events: none;
}

.nodeWrapper {
  &.focus-level-0 {
    &.block {
    }

    &.node {
      @include hidden;
    }
  }

  &.focus-level-1 {
    &.block {
      @include hidden;
    }

    &.node {
    }
  }
}
