@import '../../abstracts/colors';
@import '../../abstracts/mixins';
@import '../../base/buttons';

.button {
  @include base;
  display: grid;
}

.anchor {
  @include base;
  display: inline-grid;
}

.row {
  align-items: center;
  column-gap: if($icon, $buttons-grid-column-gap-base, $buttons-grid-column-gap-sm) + px;
  grid-auto-columns: min-content;
  grid-auto-flow: column;
  justify-content: space-between;
  white-space: nowrap;
}

.small {
  @include sm;
}
