$colors-black: #000000;
$colors-blackfixed: #000000;
$colors-blackhi: #000000d9;
$colors-blacklo: #00000033;
$colors-blackmd: #00000099;
$colors-blue: #0500ff;
$colors-bluehi: #0500ffd9;
$colors-bluelo: #0500ff33;
$colors-bluemd: #0500ffb3;
$colors-bluemuted: #5aa6ff;
$colors-bluetext: #1f6bff;
$colors-dbt: #fc6949;
$colors-dbthi: #fc6949d9;
$colors-dbtlo: rgba(252, 105, 73, 0.3);
$colors-dbtmd: rgba(252, 105, 73, 0.5);
$colors-glow2: #0500ff;
$colors-glow: #0500ff66;
$colors-gray: #34404c;
$colors-grayhi: #34404cd9;
$colors-graylo: #34404C33;
$colors-graymd: #34404CB3;
$colors-green: #00c868;
$colors-greenhi: #00c868d9;
$colors-greenlo: #00c86833;
$colors-greenmd: #00c868b3;
$colors-pink: #dd55ff;
$colors-pinkhi: #dd55ffd9;
$colors-pinklo: #dd55ff33;
$colors-pinkmd: #dd55ffb3;
$colors-purple: #956fff;
$colors-purplehi: #956fffd9;
$colors-purplelo: #956fff33;
$colors-purplemd: #956fffb3;
$colors-red: #ff3b3b;
$colors-redhi: #ff3b3bd9;
$colors-redlo: #ff3b3b33;
$colors-redmd: #ff3b3bb3;
$colors-rose: #d1a2ab;
$colors-rosehi: #d1a2abd9;
$colors-roselo: #d1a2ab33;
$colors-rosemd: #d1a2abb3;
$colors-sky: #9ecbff;
$colors-skyhi: rgba(106, 161, 224, 0.5);
$colors-skylo: #6aa1e0;
$colors-skymd: #9ecbffb3;
$colors-statuses-success: #8ade00;
$colors-statuses-successhi: rgba(138, 222, 0, 0.3);
$colors-teal: #00b4cc;
$colors-tealhi: rgba(0, 180, 204, 0.5);
$colors-teallo: #00b4cc33;
$colors-tealmd: #00b4ccb3;
$colors-white: #ffffff;
$colors-whitefixed: #ffffff;
$colors-whitehi: #ffffff1a;
$colors-whitelo: #ffffff80;
$colors-whitemd: #ffffff99;
$colors-yellow: #ffcc19;
$colors-yellowhi: #ffcc19d9;
$colors-yellowlo: #ffcc1933;
$colors-yellowmd: #ffcc19;
/* ----------------------------------------------------------------------------------------------- */
$backgrounds-body: #000000;
$backgrounds-button-base-default: #28333d;
$backgrounds-button-base-hover: $colors-graymd;
$backgrounds-button-basic-default: transparent;
$backgrounds-button-basic-hover: #ffffff1a;
$backgrounds-button-primary-default: #956fff;
$backgrounds-button-primary-hover: #956fffd9;
$backgrounds-button-secondary-default: #00c868;
$backgrounds-button-secondary-hover: #00c868d9;
$backgrounds-input-base-active: radial-gradient( 155.7% 118.3% at 22.25% 145.77%, rgba(42, 76, 255, 0.08) 0%, rgba(42, 76, 255, 0.00) 100% ), rgba(42, 76, 255, 0.10);
$backgrounds-input-base-default: radial-gradient( 155.7% 118.3% at 22.25% 145.77%, rgba(42, 76, 255, 0.08) 0%, rgba(42, 76, 255, 0.00) 100% ), rgba(42, 76, 255, 0.10);
$backgrounds-input-base-focus: radial-gradient( 155.7% 118.3% at 22.25% 145.77%, rgba(42, 76, 255, 0.08) 0%, rgba(42, 76, 255, 0.00) 100% ), rgba(42, 76, 255, 0.10);
$backgrounds-input-base-hover: radial-gradient( 155.7% 118.3% at 22.25% 145.77%, rgba(42, 76, 255, 0.08) 0%, rgba(42, 76, 255, 0.00) 100% ), rgba(42, 76, 255, 0.10);
$backgrounds-menu-base-default: $colors-graymd;
$backgrounds-menu-contained-default: #34404c;
$backgrounds-scrollbar-thumb-default: #34404c;
$backgrounds-scrollbar-thumb-hover: #ffffff80;
$backgrounds-scrollbar-track-default: $colors-graylo;
$backgrounds-scrollbar-track-hover: $colors-graymd;
$blue: radial-gradient(155.7% 118.3% at 22.25% 145.77%, $colors-bluelo 0%, rgba($colors-blue, 0.00) 100%), rgba($colors-blue, 0.10);
$borders-color-base-default: #34404c;
$borders-color-base-hover: #34404cd9;
$borders-color-button-base-default: gray;
$borders-color-button-base-hover: #34404c;
$borders-color-button-basic-default: gray;
$borders-color-button-basic-hover: #34404c;
$borders-color-button-primary-default: #34404c;
$borders-color-button-primary-hover: #34404c;
$borders-color-button-secondary-default: #34404c;
$borders-color-button-secondary-hover: #34404c;
$borders-color-input-base-active: #1f6bff;
$borders-color-input-base-default: #0500ff;
$borders-color-input-base-focus: #1f6bff;
$borders-color-input-base-hover: #1f6bff;
$borders-color-muted-default: graylo;
$borders-color-muted-hover: $colors-graylo;
$buttons-border-color-base-default: gray;
$buttons-border-color-base-hover: #34404c;
$buttons-border-color-basic-default: gray;
$buttons-border-color-basic-hover: #34404c;
$buttons-border-color-primary-default: #34404c;
$buttons-border-color-primary-hover: #34404c;
$buttons-border-color-secondary-default: #34404c;
$buttons-border-color-secondary-hover: #34404c;
$buttons-outline-color-base-default: gray;
$buttons-outline-color-base-hover: #34404c;
$buttons-outline-color-basic-default: whitelo;
$buttons-outline-color-basic-hover: #ffffff80;
$buttons-outline-color-primary-default: #956fff;
$buttons-outline-color-primary-hover: #956fff;
$buttons-outline-color-secondary-default: #00c868;
$buttons-outline-color-secondary-hover: #00c868;
$fonts-color-button-base: #ffffff;
$fonts-color-text-base: #ffffff;
$fonts-color-text-blue: #1f6bff;
$fonts-color-text-inverted: #000000;
$fonts-color-text-muted: $colors-whitemd;
$fonts-color-text-warning: $colors-yellow;
$icons-color-base: #ffffff;
$icons-color-inverted: #000000;
$inputs-background-base-active: radial-gradient( 155.7% 118.3% at 22.25% 145.77%, rgba(42, 76, 255, 0.08) 0%, rgba(42, 76, 255, 0.00) 100% ), rgba(42, 76, 255, 0.10);
$inputs-background-base-default: radial-gradient( 155.7% 118.3% at 22.25% 145.77%, rgba(42, 76, 255, 0.08) 0%, rgba(42, 76, 255, 0.00) 100% ), rgba(42, 76, 255, 0.10);
$inputs-background-base-focus: radial-gradient( 155.7% 118.3% at 22.25% 145.77%, rgba(42, 76, 255, 0.08) 0%, rgba(42, 76, 255, 0.00) 100% ), rgba(42, 76, 255, 0.10);
$inputs-background-base-hover: radial-gradient( 155.7% 118.3% at 22.25% 145.77%, rgba(42, 76, 255, 0.08) 0%, rgba(42, 76, 255, 0.00) 100% ), rgba(42, 76, 255, 0.10);
$inputs-border-color-base-active: #1f6bff;
$inputs-border-color-base-default: #0500ff;
$inputs-border-color-base-focus: #1f6bff;
$inputs-border-color-base-hover: #1f6bff;
$inputs-placeholder-color: #ffffff80;
$menus-background-base-default: $colors-graymd;
$menus-background-contained-default: #34404c;
$menus-blur-base: saturate(100%) blur(3px);
$scrollbars-background-thumb-default: #34404c;
$scrollbars-background-thumb-hover: #ffffff80;
$scrollbars-background-track-default: $colors-graylo;
$scrollbars-background-track-hover: $colors-graymd;
