#topbar-cta-button {}

#navbar {}

#sidebar {}

#content-area {}

#table-of-contents {}

footer {}

.prose :where(a):not(:where([class~=not-prose], [class~=not-prose] *)),
a.no-border-bottom,
#no-border-bottom {
  border-bottom: none !important;

  &:hover {
    border-bottom: none !important;
  }
}

a.block {
  display: block;
}

p.normal,
span.normal {
  font-weight: normal !important;
}
