#topbar-cta-button {}

#navbar {}

#sidebar {}

#content-area {}

#table-of-contents {}

footer {}

.group.px-4.relative.inline-flex.items-center.text-sm.font-medium.no-border-bottom {
  border-bottom: none !important;

  &:hover {
    border-bottom: none !important;
  }
}

.wtf {
  .prose :where(a):not(:where([class~=not-prose], [class~=not-prose] *)) {
    border-bottom: none !important;
  }

  .no-border-bottom {
    border-bottom: none !important;

    &:hover {
      border-bottom: none !important;
    }
  }
}

a.block {
  display: block;
}

p.normal,
span.normal {
  font-weight: normal !important;
}
