$colors-black: #000000;
$colors-blackfixed: #000000;
$colors-blacklo: #00000033;
$colors-blackmd: #00000099;
$colors-blackhi: #000000D9;
$colors-blue: #0500FF;
$colors-bluehi: #0500FFD9;
$colors-bluelo: #0500FF33;
$colors-bluemd: #0500FFB3;
$colors-bluemuted: #5AA6FF;
$colors-bluetext: #1F6BFF;
$colors-teal: #00B4CC;
$colors-tealhi: rgba(0, 180, 204, 0.5);
$colors-teallo: #00B4CC33;
$colors-tealmd: #00B4CCB3;
$colors-dbt: #FC6949;
$colors-dbthi: #FC6949D9;
$colors-dbtlo: rgba(252, 105, 73, 0.3);
$colors-dbtmd: rgba(252, 105, 73, 0.5);
$colors-glow: #0500FF4D;
$colors-glow2: #FFFFFF;
$colors-gray: #BBAFDA;
$colors-graylo: #BBAFDA1A;
$colors-graymd: #BBAFDAB3;
$colors-grayhi: #BBAFDAD9;
$colors-green: #00C868;
$colors-greenlo: #00C86833;
$colors-greenmd: #00C868B3;
$colors-greenhi: #00C868D9;
$colors-pink: #DD55FF;
$colors-pinklo: #DD55FF33;
$colors-pinkmd: #DD55FFB3;
$colors-pinkhi: #DD55FFD9;
$colors-purple: #956FFF;
$colors-purplelo: #956FFF33;
$colors-purplemd: #956FFFB3;
$colors-purplehi: #956FFFD9;
$colors-red: #FF3B3B;
$colors-redhi: #FF3B3BD9;
$colors-redlo: #FF3B3B33;
$colors-redmd: #FF3B3BB3;
$colors-rose: #D1A2AB;
$colors-rosehi: #D1A2ABD9;
$colors-roselo: #D1A2AB33;
$colors-rosemd: #D1A2ABB3;
$colors-sky: #9ECBFF;
$colors-skyhi: rgba(106, 161, 224, 0.5);
$colors-skylo: #6AA1E0;
$colors-skymd: #9ECBFFB3;
$colors-yellow: #FFCC19;
$colors-yellowhi: #E6B000D9;
$colors-yellowlo: #E6B00033;
$colors-yellowmd: #E6B000;
$colors-white: #FFFFFF;
$colors-whitefixed: #FFFFFF;
$colors-whitelo: #1B006699;
$colors-whitemd: #1B006699;
$colors-whitehi: #1B00661A;
$colors-backgrounds-blur: rgba(255, 255, 255, 0.7);
$colors-backgrounds-body: #FFFFFF;
$colors-backgrounds-button-base-default: #EBECF4;
$colors-backgrounds-button-base-hover: #1B00661A;
$colors-backgrounds-button-basic-default: transparent;
$colors-backgrounds-button-basic-hover: #1B00661A;
$colors-backgrounds-button-primary-default: #956FFF;
$colors-backgrounds-button-primary-hover: #956FFFD9;
$colors-backgrounds-button-secondary-default: #00C868;
$colors-backgrounds-button-secondary-hover: #00C868D9;
$colors-backgrounds-input-base-active: radial-gradient(155.7% 118.3% at 22.25% 145.77%, rgba(42, 76, 255, 0.08) 0%, rgba(42, 76, 255, 0.00) 100%), rgba(42, 76, 255, 0.10);
$colors-backgrounds-input-base-default: radial-gradient(155.7% 118.3% at 22.25% 145.77%, rgba(42, 76, 255, 0.08) 0%, rgba(42, 76, 255, 0.00) 100%), rgba(42, 76, 255, 0.10);
$colors-backgrounds-input-base-focus: radial-gradient(155.7% 118.3% at 22.25% 145.77%, rgba(42, 76, 255, 0.08) 0%, rgba(42, 76, 255, 0.00) 100%), rgba(42, 76, 255, 0.10);
$colors-backgrounds-input-base-hover: radial-gradient(155.7% 118.3% at 22.25% 145.77%, rgba(42, 76, 255, 0.08) 0%, rgba(42, 76, 255, 0.00) 100%), rgba(42, 76, 255, 0.10);
$colors-backgrounds-menu-base-default: #BBAFDAB3;
$colors-backgrounds-menu-contained-default: #BBAFDA;
$colors-backgrounds-scrollbar-thumb-default: #BBAFDA;
$colors-backgrounds-scrollbar-thumb-hover: #1B006699;
$colors-backgrounds-scrollbar-track-default: #BBAFDA1A;
$colors-backgrounds-scrollbar-track-hover: #BBAFDAB3;
$colors-borders-base-default: #BBAFDA;
$colors-borders-base-hover: #BBAFDAD9;
$colors-borders-button-base-default: gray;
$colors-borders-button-base-hover: #BBAFDA;
$colors-borders-button-basic-default: gray;
$colors-borders-button-basic-hover: #BBAFDA;
$colors-borders-button-primary-default: #BBAFDA;
$colors-borders-button-primary-hover: #BBAFDA;
$colors-borders-button-secondary-default: #BBAFDA;
$colors-borders-button-secondary-hover: #BBAFDA;
$colors-borders-input-base-active: #1F6BFF;
$colors-borders-input-base-default: #0500FF;
$colors-borders-input-base-focus: #1F6BFF;
$colors-borders-input-base-hover: #1F6BFF;
$colors-borders-muted-default: grayLo;
$colors-borders-muted-hover: #BBAFDA1A;
$colors-icons-base: #000000;
$colors-icons-inverted: #FFFFFF;
$colors-outline-button-base-default: gray;
$colors-outline-button-base-hover: #BBAFDA;
$colors-outline-button-basic-default: blackLo;
$colors-outline-button-basic-hover: #00000033;
$colors-outline-button-primary-default: #956FFF;
$colors-outline-button-primary-hover: #956FFF;
$colors-outline-button-secondary-default: #00C868;
$colors-outline-button-secondary-hover: #00C868;
$colors-placeholder-input-base: #00000033;
$colors-statuses-success: #8ADE00;
$colors-statuses-successhi: rgba(138, 222, 0, 0.3);
$colors-typography-button-base: #130048;
$colors-typography-text-base: #000000;
$colors-typography-text-blue: #1F6BFF;
$colors-typography-text-inverted: #FFFFFF;
$colors-typography-text-muted: #00000099;

$backgrounds-blur: rgba(255, 255, 255, 0.7);
$backgrounds-body: #FFFFFF;
$backgrounds-button-base-default: #EBECF4;
$backgrounds-button-base-hover: #1B00661A;
$backgrounds-button-basic-default: transparent;
$backgrounds-button-basic-hover: #1B00661A;
$backgrounds-button-primary-default: #956FFF;
$backgrounds-button-primary-hover: #956FFFD9;
$backgrounds-button-secondary-default: #00C868;
$backgrounds-button-secondary-hover: #00C868D9;
$backgrounds-input-base-active: radial-gradient(155.7% 118.3% at 22.25% 145.77%, rgba(42, 76, 255, 0.08) 0%, rgba(42, 76, 255, 0.00) 100%), rgba(42, 76, 255, 0.10);
$backgrounds-input-base-default: radial-gradient(155.7% 118.3% at 22.25% 145.77%, rgba(42, 76, 255, 0.08) 0%, rgba(42, 76, 255, 0.00) 100%), rgba(42, 76, 255, 0.10);
$backgrounds-input-base-focus: radial-gradient(155.7% 118.3% at 22.25% 145.77%, rgba(42, 76, 255, 0.08) 0%, rgba(42, 76, 255, 0.00) 100%), rgba(42, 76, 255, 0.10);
$backgrounds-input-base-hover: radial-gradient(155.7% 118.3% at 22.25% 145.77%, rgba(42, 76, 255, 0.08) 0%, rgba(42, 76, 255, 0.00) 100%), rgba(42, 76, 255, 0.10);
$backgrounds-menu-base-default: #BBAFDAB3;
$backgrounds-menu-contained-default: #BBAFDA;
$backgrounds-scrollbar-thumb-default: #BBAFDA;
$backgrounds-scrollbar-thumb-hover: #1B006699;
$backgrounds-scrollbar-track-default: #BBAFDA1A;
$backgrounds-scrollbar-track-hover: #BBAFDAB3;
$borders-color-base-default: #BBAFDA;
$borders-color-base-hover: #BBAFDAD9;
$borders-color-button-base-default: gray;
$borders-color-button-base-hover: #BBAFDA;
$borders-color-button-basic-default: gray;
$borders-color-button-basic-hover: #BBAFDA;
$borders-color-button-primary-default: #BBAFDA;
$borders-color-button-primary-hover: #BBAFDA;
$borders-color-button-secondary-default: #BBAFDA;
$borders-color-button-secondary-hover: #BBAFDA;
$borders-color-input-base-active: #1F6BFF;
$borders-color-input-base-default: #0500FF;
$borders-color-input-base-focus: #1F6BFF;
$borders-color-input-base-hover: #1F6BFF;
$borders-color-muted-default: grayLo;
$borders-color-muted-hover: #BBAFDA1A;
$borders-outline-offset: 1;
$borders-outline-width: 2;
$borders-radius-base: 10px;
$borders-radius-round: 40px;
$borders-radius-sm: 6px;
$borders-style: solid;
$borders-width: 1px;
$buttons-border-color-base-default: gray;
$buttons-border-color-base-hover: #BBAFDA;
$buttons-border-color-basic-default: gray;
$buttons-border-color-basic-hover: #BBAFDA;
$buttons-border-color-primary-default: #BBAFDA;
$buttons-border-color-primary-hover: #BBAFDA;
$buttons-border-color-secondary-default: #BBAFDA;
$buttons-border-color-secondary-hover: #BBAFDA;
$buttons-grid-column-gap-base: 8;
$buttons-grid-column-gap-sm: 6;
$buttons-outline-color-base-default: gray;
$buttons-outline-color-base-hover: #BBAFDA;
$buttons-outline-color-basic-default: blackLo;
$buttons-outline-color-basic-hover: #00000033;
$buttons-outline-color-primary-default: #956FFF;
$buttons-outline-color-primary-hover: #956FFF;
$buttons-outline-color-secondary-default: #00C868;
$buttons-outline-color-secondary-hover: #00C868;
$buttons-padding-base: 13px 14px;
$buttons-padding-sm: 12px 13px;
$buttons-padding-xs: 6px 8px;
$fonts-color-button-base: #130048;
$fonts-color-text-base: #000000;
$fonts-color-text-blue: #1F6BFF;
$fonts-color-text-inverted: #FFFFFF;
$fonts-color-text-muted: #00000099;
$fonts-color-text-warning: $colors-yellow;
$fonts-family-base-black: Inter Black, sans-serif;
$fonts-family-base-bold: Inter Bold, sans-serif;
$fonts-family-base-lightfont: Inter Light, sans-serif;
$fonts-family-base-medium: Inter Medium, sans-serif;
$fonts-family-base-regular: Inter Regular, sans-serif;
$fonts-family-base-semibold: Inter SemiBold, sans-serif;
$fonts-family-monospace-black: Fira Code Bold, monospace;
$fonts-family-monospace-bold: Fira Code Bold, monospace;
$fonts-family-monospace-bolditalic: Fira Code Bold Italic, monospace;
$fonts-family-monospace-lightfont: Fira Code Light, monospace;
$fonts-family-monospace-medium: Fira Code Medium, monospace;
$fonts-family-monospace-regular: Fira Code Retina, Fira Code Regular, monospace;
$fonts-family-monospace-regularitalic: Fira Code Regular Italic, monospace;
$fonts-family-monospace-semibold: Fira Code SemiBold, monospace;
$fonts-lineheight-base: 125%;
$fonts-lineheight-md: 144%;
$fonts-lineheight-monospace: 160%;
$fonts-lineheight-sm: 20px;
$fonts-lineheight-xs: 125%;
$fonts-size-base: 16px;
$fonts-size-sm: 14px;
$fonts-size-xs: 12px;
$fonts-style-base: normal;
$fonts-style-italic: italic;
$fonts-weight: 300;
$grid-gutter-width-base: 12;
$grid-gutter-width-sm: 8;
$grid-gutter-width-xs: 4;
$icons-color-base: #000000;
$icons-color-inverted: #FFFFFF;
$icons-size-base: 20;
$icons-size-sm: 17;
$icons-size-xs: 12;
$inputs-background-base-active: radial-gradient(155.7% 118.3% at 22.25% 145.77%, rgba(42, 76, 255, 0.08) 0%, rgba(42, 76, 255, 0.00) 100%), rgba(42, 76, 255, 0.10);
$inputs-background-base-default: radial-gradient(155.7% 118.3% at 22.25% 145.77%, rgba(42, 76, 255, 0.08) 0%, rgba(42, 76, 255, 0.00) 100%), rgba(42, 76, 255, 0.10);
$inputs-background-base-focus: radial-gradient(155.7% 118.3% at 22.25% 145.77%, rgba(42, 76, 255, 0.08) 0%, rgba(42, 76, 255, 0.00) 100%), rgba(42, 76, 255, 0.10);
$inputs-background-base-hover: radial-gradient(155.7% 118.3% at 22.25% 145.77%, rgba(42, 76, 255, 0.08) 0%, rgba(42, 76, 255, 0.00) 100%), rgba(42, 76, 255, 0.10);
$inputs-border-color-base-active: #1F6BFF;
$inputs-border-color-base-default: #0500FF;
$inputs-border-color-base-focus: #1F6BFF;
$inputs-border-color-base-hover: #1F6BFF;
$inputs-border-radius-base: 10px;
$inputs-border-style-base: solid;
$inputs-border-width-base: 1px;
$inputs-padding-base: 13px 16px;
$inputs-padding-sm: 8px 16px;
$inputs-placeholder-color: #00000033;
$margin-base: 12;
$margin-sm: 8;
$margin-xs: 4;
$menus-background-base-default: #BBAFDAB3;
$menus-background-contained-default: #BBAFDA;
$menus-blur-base: saturate(100%) blur(3px);
$menus-border-radius-base: 6px;
$menus-padding-base: 8px 8px;
$padding-base: 12;
$padding-sm: 8;
$padding-xs: 4;
$scrollbars-background-thumb-default: #BBAFDA;
$scrollbars-background-thumb-hover: #1B006699;
$scrollbars-background-track-default: #BBAFDA1A;
$scrollbars-background-track-hover: #BBAFDAB3;
$scrollbars-border-radius-thumb: 40px;
$scrollbars-border-radius-track: 10px;
$scrollbars-width-thumb: 4;
$scrollbars-width-track: 6;

// borders.ts
$borders-radius-base: 10px;
$borders-style: solid;
$borders-width: 1px;

// interactive.ts
$padding-vertical-base: $buttons-padding-base;
$padding-vertical-sm: $buttons-padding-sm;
$padding-vertical-xs: $buttons-padding-xs;

$padding-vertical: (
  base: $padding-vertical-base,
  sm: $padding-vertical-sm,
  xs: $padding-vertical-xs
);


// padding.ts
$padding-base: $padding-base;
$padding-sm: $padding-sm;
$padding-xs: $padding-xs;

$padding: (
  base: $padding-base,
  sm: $padding-sm,
  xs: $padding-xs
);

// sizes.ts
$size-sm: sm;
$size-md: md;
$size-lg: lg;
$size-xl: xl;
$size-xxl: xxl;
$size-xxxl: xxxl;

$size: (
  sm: $size-sm,
  md: $size-md,
  lg: $size-lg,
  xl: $size-xl,
  xxl: $size-xxl,
  xxxl: $size-xxxl
);

// spaces.ts
$unit: $margin-xs;
