$borders-outline-offset: 1px;
$borders-outline-width: 2px;
$borders-radius-base: 10px;
$borders-radius-round: 40px;
$borders-radius-sm: 6px;
$borders-style: solid;
$borders-width: 1px;
$buttons-grid-column-gap-base: 8;
$buttons-grid-column-gap-sm: 6;
$buttons-padding-base: 13px 14px;
$buttons-padding-sm: 12px 13px;
$buttons-padding-xs: 6px 8px;
$fonts-family-base-black: Inter Black, sans-serif;
$fonts-family-base-bold: Inter Bold, sans-serif;
$fonts-family-base-lightfont: Inter Light, sans-serif;
$fonts-family-base-medium: Inter Medium, sans-serif;
$fonts-family-base-regular: Inter Regular, sans-serif;
$fonts-family-base-semibold: Inter SemiBold, sans-serif;
$fonts-family-monospace-black: Fira Code Bold, monospace;
$fonts-family-monospace-bold: Fira Code Bold, monospace;
$fonts-family-monospace-bolditalic: Fira Code Bold Italic, monospace;
$fonts-family-monospace-lightfont: Fira Code Light, monospace;
$fonts-family-monospace-medium: Fira Code Medium, monospace;
$fonts-family-monospace-regular: Fira Code Retina, Fira Code Regular, monospace;
$fonts-family-monospace-regularitalic: Fira Code Regular Italic, monospace;
$fonts-family-monospace-semibold: Fira Code SemiBold, monospace;
$fonts-lineheight-base: normal;
$fonts-lineheight-md: 144%;
$fonts-lineheight-monospace: 160%;
$fonts-lineheight-sm: 20px;
$fonts-lineheight-xs: 125%;
$fonts-size-base: 16px;
$fonts-size-sm: 14px;
$fonts-size-xs: 12px;
$fonts-style-base: normal;
$fonts-style-italic: italic;
$fonts-weight-bold: 700;
$fonts-weight-light: 300;
$fonts-weight-medium: 500;
$fonts-weight-regular: 400;
$fonts-weight-semibold: 600;
$fonts-weight: 300;
$grid-gutter-width-base: 12;
$grid-gutter-width-sm: 8;
$grid-gutter-width-xs: 4;
$icons-size-base: 20;
$icons-size-sm: 17;
$icons-size-xs: 12;
$inputs-border-radius-base: 10px;
$inputs-border-style-base: solid;
$inputs-border-width-base: 1px;
$inputs-padding-base: 13px 16px;
$inputs-padding-sm: 8px 16px;
$margin-base: 12px;
$margin-sm: 8px;
$margin-xs: 4px;
$menus-border-radius-base: 6px;
$menus-padding-base: 8px 8px;
$padding-base: 12px;
$padding-sm: 8px;
$padding-vertical-base: $buttons-padding-base;
$padding-vertical-sm: $buttons-padding-sm;
$padding-vertical-xs: $buttons-padding-xs;
$padding-xs: 4px;
$scrollbars-border-radius-thumb: 40px;
$scrollbars-border-radius-track: 10px;
$scrollbars-width-thumb: 4px;
$scrollbars-width-track: 6px;
$size-lg: lg;
$size-md: md;
$size-sm: sm;
$size-xl: xl;
$size-xxl: xxl;
$size-xxxl: xxxl;
$unit: $margin-xs;
