@use '../abstracts/variables' as *;

@mixin base() {
  --borders-outline-offset: #{$borders-outline-offset};
  --borders-outline-width: #{$borders-outline-width};
  --borders-radius-base: #{$borders-radius-base};
  --borders-radius-round: #{$borders-radius-round};
  --borders-radius-sm: #{$borders-radius-sm};
  --borders-style: #{$borders-style};
  --borders-width: #{$borders-width};
  --buttons-grid-column-gap-base: #{$buttons-grid-column-gap-base};
  --buttons-grid-column-gap-sm: #{$buttons-grid-column-gap-sm};
  --buttons-padding-base: #{$buttons-padding-base};
  --buttons-padding-sm: #{$buttons-padding-sm};
  --buttons-padding-xs: #{$buttons-padding-xs};
  --fonts-family-base-black: #{$fonts-family-base-black};
  --fonts-family-base-bold: #{$fonts-family-base-bold};
  --fonts-family-base-lightfont: #{$fonts-family-base-lightfont};
  --fonts-family-base-medium: #{$fonts-family-base-medium};
  --fonts-family-base-regular: #{$fonts-family-base-regular};
  --fonts-family-base-semibold: #{$fonts-family-base-semibold};
  --fonts-family-monospace-black: #{$fonts-family-monospace-black};
  --fonts-family-monospace-bold: #{$fonts-family-monospace-bold};
  --fonts-family-monospace-bolditalic: #{$fonts-family-monospace-bolditalic};
  --fonts-family-monospace-lightfont: #{$fonts-family-monospace-lightfont};
  --fonts-family-monospace-medium: #{$fonts-family-monospace-medium};
  --fonts-family-monospace-regular: #{$fonts-family-monospace-regular};
  --fonts-family-monospace-regularitalic: #{$fonts-family-monospace-regularitalic};
  --fonts-family-monospace-semibold: #{$fonts-family-monospace-semibold};
  --fonts-lineheight-base: #{$fonts-lineheight-base};
  --fonts-lineheight-md: #{$fonts-lineheight-md};
  --fonts-lineheight-monospace: #{$fonts-lineheight-monospace};
  --fonts-lineheight-sm: #{$fonts-lineheight-sm};
  --fonts-lineheight-xs: #{$fonts-lineheight-xs};
  --fonts-size-base: #{$fonts-size-base};
  --fonts-size-sm: #{$fonts-size-sm};
  --fonts-size-xs: #{$fonts-size-xs};
  --fonts-style-base: #{$fonts-style-base};
  --fonts-style-italic: #{$fonts-style-italic};
  --fonts-weight-bold: #{$fonts-weight-bold};
  --fonts-weight-light: #{$fonts-weight-light};
  --fonts-weight-medium: #{$fonts-weight-medium};
  --fonts-weight-regular: #{$fonts-weight-regular};
  --fonts-weight-semibold: #{$fonts-weight-semibold};
  --fonts-weight: #{$fonts-weight};
  --grid-gutter-width-base: #{$grid-gutter-width-base};
  --grid-gutter-width-sm: #{$grid-gutter-width-sm};
  --grid-gutter-width-xs: #{$grid-gutter-width-xs};
  --icons-size-base: #{$icons-size-base};
  --icons-size-sm: #{$icons-size-sm};
  --icons-size-xs: #{$icons-size-xs};
  --inputs-border-radius-base: #{$inputs-border-radius-base};
  --inputs-border-style-base: #{$inputs-border-style-base};
  --inputs-border-width-base: #{$inputs-border-width-base};
  --inputs-padding-base: #{$inputs-padding-base};
  --inputs-padding-sm: #{$inputs-padding-sm};
  --margin-base: #{$margin-base};
  --margin-sm: #{$margin-sm};
  --margin-xs: #{$margin-xs};
  --menus-border-radius-base: #{$menus-border-radius-base};
  --menus-padding-base: #{$menus-padding-base};
  --padding-base: #{$padding-base};
  --padding-sm: #{$padding-sm};
  --padding-vertical-base: #{$padding-vertical-base};
  --padding-vertical-sm: #{$padding-vertical-sm};
  --padding-vertical-xs: #{$padding-vertical-xs};
  --padding-xs: #{$padding-xs};
  --scrollbars-border-radius-thumb: #{$scrollbars-border-radius-thumb};
  --scrollbars-border-radius-track: #{$scrollbars-border-radius-track};
  --scrollbars-width-thumb: #{$scrollbars-width-thumb};
  --scrollbars-width-track: #{$scrollbars-width-track};
  --size-lg: #{$size-lg};
  --size-md: #{$size-md};
  --size-sm: #{$size-sm};
  --size-xl: #{$size-xl};
  --size-xxl: #{$size-xxl};
  --size-xxxl: #{$size-xxxl};
  --unit: #{$unit};
}
