// themes/fonts.ts -> themes/fonts.scss
@import '../abstracts/colors';

$fonts: (
  color: (
    button-base: $fonts-color-button-base,
    text-base: $fonts-color-text-base,
    text-blue: $fonts-color-text-blue,
    text-inverted: $fonts-color-text-inverted,
    text-muted: $fonts-color-text-muted,
  ),
  family: (
    base: (
      black: $fonts-family-base-black,
      bold: $fonts-family-base-bold,
      lightFont: $fonts-family-base-lightFont,
      medium: $fonts-family-base-medium,
      regular: $fonts-family-base-regular,
      semiBold: $fonts-family-base-semiBold,
    ),
    monospace: (
      black: $fonts-family-monospace-black,
      bold: $fonts-family-monospace-bold,
      boldItalic: $fonts-family-monospace-boldItalic,
      lightFont: $fonts-family-monospace-lightFont,
      medium: $fonts-family-monospace-medium,
      regular: $fonts-family-monospace-regular,
      regularItalic: $fonts-family-monospace-regularItalic,
      semiBold: $fonts-family-monospace-semiBold,
    )
  ),
  lineHeight: (
    base: $fonts-lineHeight-base,
    md: $fonts-lineHeight-md,
    monospace: $fonts-lineHeight-monospace,
    sm: $fonts-lineHeight-sm,
    xs: $fonts-lineHeight-xs,
  ),
  size: (
    base: $fonts-size-base,
    sm: $fonts-size-sm,
    xs: $fonts-size-xs,
  ),
  style: (
    base: $fonts-style-base,
    italic: $fonts-style-italic,
  ),
  weight: (
    bold: $fonts-weight-bold,
    light: $fonts-weight-light,
    medium: $fonts-weight-medium,
    regular: $fonts-weight-regular,
    semiBold: $fonts-weight-semiBold,
  ),
);
