.errorManager {
  position: fixed;
  z-index: 1000;

  &.center {
    bottom: 50%;
    transform: translateY(-50%);
    left: 50%;
    right: 50%;
  }

  &.right {
    bottom: 50%;
    left: auto;
    right: var(--padding-base);
    transform: translateY(-50%);
  }

  &.top {
    bottom: auto;
    left: 50%;
    right: 50%;
    top: var(--padding-base);
  }

  &.topRight {
    bottom: auto;
    right: var(--padding-base);
    top: var(--padding-base);
  }

  &.topLeft {
    bottom: auto;
    left: var(--padding-base);
    top: var(--padding-base);
  }

  &.bottomLeft {
    bottom: var(--padding-base);
    left: var(--padding-base);
  }

  &.bottomRight {
    bottom: var(--padding-base);
    right: var(--padding-base);
  }

  &.bottom {
    bottom: var(--padding-base);
    top: auto;
    left: 50%;
    right: 50%;
  }

  .errorContainer {
    backdrop-filter: var(--menus-blur-base);
    max-width: calc(100vw - 2 * var(--padding-base));
  }
}
