name: Build and publish Docker image

on:
  workflow_dispatch:
    inputs:
      dockerfile_branch:
        description: 'Dockerfile branch'
        required: true
        default: master
      feature_branch:
        description: 'Feature branch'
        required: false
        default: null
      name:
        description: 'Docker image name'
        required: true
        default: mageai
      tag:
        description: 'Docker image tag'
        required: true
        default: latest

jobs:
  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.inputs.dockerfile_branch }}

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: mageai/${{ github.event.inputs.name }}:${{ github.event.inputs.tag }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      
      - name: Build and push Docker image
        uses: docker/build-push-action@v3
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: mageai/${{ github.event.inputs.name }}:${{ github.event.inputs.tag }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            FEATURE_BRANCH=${{ github.event.inputs.feature_branch }}
